<!DOCTYPE html>
<html lang="en">
<style>
/*h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}*/
</style>

<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 
<div style="width: 980px; margin-left: auto; margin-right: auto;">
<body style="font-size: 17px; color: black;">

<br>
<img src="\Assets\images\photo.jpg" height="320" length="350" style="float: right;">

<h1>Irin Cibi</h1>
<br>
<p>My name is Irin Cibi. I am from India, currently residing in Toronto. I am doing the <br> Software Engineering Technology program 
at Centennial College. As a current student at Centennial, I have gained a strong background in development and web services. 
I have also tested and generated codes in various programming languages such as C#, Python, SQL, Java, and JavaScript.
</p>
<a href="https://drive.google.com/file/d/1LDY3m4ot_MjIAoKOz6AVmBy26bOLD5_Q/view?usp=sharing"target="_blank">Link to resume</a>



</body>
</html>