<!DOCTYPE html>
<html lang="en">
<style>
h1 {text-align: center;}
p {text-align: left;}
div {text-align: center;}
table {text-align: center;}
</style>

<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 
<div style="width: 980px; margin-left: auto; margin-right: auto;">
<body style="font-size: 17px; color: black;">

<table style="width: 980px; border: 2px; ">
<tr>
<td><h4><b><p style="text-align: left;">Phone No: 437-286-6993</p></h4></b></td>
<td><h4><b><p style="text-align: right;">Email id: icibi@my.centennialcollege.ca</p></h4></b></td>
</tr>
</table>

<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 

<p>Please leave a message and I will be in touch with you shortly.</p>


<fieldset>
<p>
<label for="fName">First Name: </label>
<input id="fName" name="fName" size="25" tabindex="1" type="text" required="required">
</p>
<p>
<label for="lName">Last Name: </label>
<input id="lName" name="lName" size="25" tabindex="3" type="text" required="required">
</p>
<p>
<label for="email">Email id: </label>
<input id="email" name="email" size="25" tabindex="5" type="text" required="required">
</p>
<p>
 <label for="phone">Contact No: </label>
<input id="phone" name="phone" size="25" tabindex="7" type="text" required="required">
</p>
<p>
<label for="cm3">Message: </label><br>
<textarea id="cm3" name="cm3" cols="50" rows="4"></textarea>
</p>
</fieldset>

<p>
<input name="btnClear" type="reset" value="Clear Form"><br><br>
<a class="nav-link" href="/home"><input name="btnSubmit" type="submit" value="Submit Form"></a>
</p>
<br><br><br>

</body>
</html>