<!DOCTYPE html>
<html lang="en">
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 
<div style="width: 980px; margin-left: auto; margin-right: auto;">
<body style="font-size: 20px; color: black;">

<br><br>
<h5>Welcome to the express portfolio of Irin Cibi. Press the button below to view the About Me page.</h5>
<a class="nav-link" href="/about"><img src="\Assets\images\button1.jpg" height="50" width="200"></a>

<br><br>
<h3>Mission Statment: </h3><h5><em>"To accelerate the world's transition 
    towards innovation and technical excellence."</em></h5>

</body>
</html>