<!DOCTYPE html>
<html lang="en">
<style>
p {text-align: center;}
h1 {text-align: center;}
</style>

<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 
<div style="width: 1000px; margin-left: auto; margin-right: auto;">
<body style="font-size: 17px; color: black;">

<p>
<img src="\Assets\images\pro1.jpeg" height="250" width="330">
<img src="\Assets\images\pro2.jpeg" height="250" width="330">
<img src="\Assets\images\pro3.jpeg" height="250" width="330">
</p>

<h4>List of Academic Projects</h4>
<ul>
    <li><b>Club Registration Form</b> - <a href="/project1/assignment4.html" target="_blank">Project 1</a> <br>
    This is a website created using JavaScript for Valiant Heights Country Club for registartion for new members. 
    The website has a form that has to be filled out by the users. This information is then stored 
    after the user presses the submit button. The entire project was created by me.</li>
    <li><b>BugSmasher Game</b> - <a href="/project2/assignment5.html" target="_blank">Project 2 </a><br>
    This is a game called BugSmasher created using JavaScript. You click on the bug moving over the leaf and score a
    5 point each time. As the score gets higher the speed of the bug increases. Both speed and score can be reset to deafult.
    The entire project was created by me.</li>
    <li><b>BMI Calculator</b> - <a href="/project3/assignment1.html" target="_blank">Project 3</a> <br>
    This is a website created using JavaScript for calculating the accurate calorie consumtion for a person. The user 
    can enter measuremnts in metric or imperial system. The website calculates the BMI according to the user input and gives
    the ideal number of calories. The entire project was created by me.</li>
</ul>
<br><br><br>

</body>
</html>