<!DOCTYPE html>
<html lang="en">
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: left;}
</style>

<hr style="border-style: solid; border-color: rgb(27, 27, 27); border-width: 1px;"> 
<div style="width: 980px; margin-left: auto; margin-right: auto;">
<body style="font-size: 20px; color: black;">

<h5>List of services</h5>
<ol>
    <li>General Programming</li>
    <li>Languages known: C#, Python, Java, JavaScript, SQL, HTML, CSS</li>
    <li>Proficient in Windows and Linux operating systems and VMWare Workstation.</li>
    <li>Practiced in object-oriented programming</li>
    <li>Background in web development</li>
</ol>

<p>
<img src="\Assets\images\1.jpg" height="150" width="240">
<img src="\Assets\images\2.png" height="150" width="250">
<img src="\Assets\images\3.jpeg" height="150" width="280">
</p>

</body>
</html>